<div class="page-container">
    <div class="article-container">
        {{#each articles}}
            <article>
                <div class="article-title"><h2>{{title}}</h2></div>
                <hr>
                <div class="article-author">Posted by {{username}} on 22 Oct 2017 | 25 Comments</div>
                <div class="article-content">
                    <div class="article-image"><img src="{{image}}" alt="article-image"></div>
                    <div class="article-summary">
                        <p>
                            {{content}}
                        </p>
                        <a class="article-read-more" href="#/articles/single">Read More</a>
                    </div>
                </div>                    
            </article>
        {{/each}}
        {{!-- <article>
            <div class="article-title"><h2>Article title</h2></div>
            <hr>
            <div class="article-author">Posted by Pesho on 22 Oct 2017 | 25 Comments</div>
            <div class="article-content">
                <div class="article-image"><img src="/static/images/theatre.jpg" alt="article-image"></div>
                <div class="article-summary">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, dolores reprehenderit sed necessitatibus totam odit nulla asperiores quis illo, numquam quam aliquid in excepturi inventore impedit harum ab commodi esse.
                    </p>
                    <a class="article-read-more" href="#/articles/single">Read More</a>
                </div>
            </div>                    
        </article>

        <article>
            <div class="article-title"><h2>Article title</h2></div>
            <hr>
            <div class="article-author">Posted by Pesho on 22 Oct 2017 | 25 Comments</div>
            <div class="article-content">
                <div class="article-image"><img src="/static/images/theatre.jpg" alt="article-image"></div>
                <div class="article-summary">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, dolores reprehenderit sed necessitatibus totam odit nulla asperiores quis illo, numquam quam aliquid in excepturi inventore impedit harum ab commodi esse.
                    </p>
                    <a class="article-read-more" href="#/articles/single">Read More</a>
                </div>
            </div>                    
        </article>

        <article>
            <div class="article-title"><h2>Article title</h2></div>
            <hr>
            <div class="article-author">Posted by Pesho on 22 Oct 2017 | 25 Comments</div>
            <div class="article-content">
                <div class="article-image"><img src="/static/images/theatre.jpg" alt="article-image"></div>
                <div class="article-summary">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, dolores reprehenderit sed necessitatibus totam odit nulla asperiores quis illo, numquam quam aliquid in excepturi inventore impedit harum ab commodi esse.
                    </p>
                    <a class="article-read-more" href="#/articles/single">Read More</a>
                </div>
            </div>                    
        </article> --}}
    </div>

    <div class="recent-articles">
        <h3>Recent articles</h3>
        <ul class="recent-list">
            <li><a href="">Recent articles</a></li>
            <li><a href="">Recent articles</a></li>
            <li><a href="">Recent articles</a></li>
            <li><a href="">Recent articles</a></li>
        </ul>
    </div>

    <div class="paginator">
        <span>Page 1 of 4</span>
        <a href="">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
    </div>
</div>        