<div class="images">
    <div class="image-wrapper">
    {{#each imageUrls}}
        <div class="img"> 
            <div class="img-image">
                <img src="{{image}}" alt="gallery-image">
            </div>                    
            <div class="img-overlay">
                <a class="zoom-round-icon" href=""><img  src="/static/images/zoom-round.png" alt="zoom-icon"></a>
                <a class="details-round-icon" href=""><img src="/static/images/details-round.png" alt="details-icon"></a>
            </div>
        </div>   
        
        <div class="img"> 
            <div class="img-image">
                <img src="{{image}}" alt="gallery-image">
            </div>                    
            <div class="img-overlay">
                <a class="zoom-round-icon" href=""><img  src="/static/images/zoom-round.png" alt="zoom-icon"></a>
                <a class="details-round-icon" href=""><img src="/static/images/details-round.png" alt="details-icon"></a>
            </div>
        </div>   

        <div class="img"> 
            <div class="img-image">
                <img src="{{image}}" alt="gallery-image">
            </div>                    
            <div class="img-overlay">
                <a class="zoom-round-icon" href=""><img  src="/static/images/zoom-round.png" alt="zoom-icon"></a>
                <a class="details-round-icon" href=""><img src="/static/images/details-round.png" alt="details-icon"></a>
            </div>
        </div>   

        <div class="img"> 
            <div class="img-image">
                <img src="{{image}}" alt="gallery-image">
            </div>                    
            <div class="img-overlay">
                <a class="zoom-round-icon" href=""><img  src="/static/images/zoom-round.png" alt="zoom-icon"></a>
                <a class="details-round-icon" href=""><img src="/static/images/details-round.png" alt="details-icon"></a>
            </div>
        </div>   
    {{/each}}
    </div>            
</div>