<div class="information">
    <div class="group">
        <div class="icon-settings">
            <img class="icon" src="/static/images/settings.png" alt="settings">
        </div>
        <div class="services">
            <h4>Recover your health</h4>
            Travel the world, breathe the fresh air. Sports should be part of our every-day life and walking, running and traveling fill in the gap of inactivity. Have you finished your daily 10 000 steps?
        </div>
        <a class="read-more" href="">Read More</a>
    </div>        
    <div class="group">
        <div class="icon-comment">
            <img class="icon" src="/static/images/comment.png" alt="comment">
        </div>
        <div class="contact">
            <h4>Meet people</h4>
            We are beings made to communicate. When traveling you get the chance to meet complete strangers, talk to them, learn from them and view the world from their eyes. Immerse yourself in foreign cutures!
        </div>
        <a class="read-more" href="">Read More</a>
    </div>        
    <div class="group">
        <div class="icon-media">
            <img class="icon" src="/static/images/note.png" alt="note">
        </div>
        <div class="media">
            <h4>The music of nature</h4>
            It's now time to venture into the unknown. Delve deep into nature and surround yourself with it's various artistic melodies - the song of the birds, the crackling of the forests, the rustling of the meadows...
        </div>  
        <a class="read-more" href="">Read More</a>
    </div>
</div>

<div class="quote">
    <img class="icon-quote" src="/static/images/quote.png" alt="quote">
    <p class="quote-text">
        Even with all our technology and the inventions that make modern life so much easier than it once was, it takes just one big natural disaster to wipe all that away and remind us that, here on Earth, we're still at the mercy of nature.
    </p>
    <a class="additional-info" href="https://www.brainyquote.com/quotes/topics/topic_nature.html">Additional Info</a>
</div>

<div class="images">
    <div class="image-wrapper">
        <div class="img"> 
            <div class="img-image">
                <img class="image-self" src="/static/images/belogradchik.jpg" alt="belogradchik">
            </div>                    
            <div class="img-overlay">
                <a class="zoom-round-icon" href=""><img  src="/static/images/zoom-round.png" alt="zoom-icon"></a>
                <a class="details-round-icon" href=""><img src="/static/images/details-round.png" alt="details-icon"></a>
            </div>
        </div>
        <div class="img"> 
            <div class="img-image">
                <img class="image-self" src="/static/images/chernomore.jpg" alt="chernomore">
            </div>                    
            <div class="img-overlay">
                <a class="zoom-round-icon" href=""><img  src="/static/images/zoom-round.png" alt="zoom-icon"></a>
                <a class="details-round-icon" href=""><img src="/static/images/details-round.png" alt="details-icon"></a>
            </div>
        </div>
        <div class="img"> 
            <div class="img-image">
                <img class="image-self" src="/static/images/ledenika.jpg" alt="ledenika">    
            </div>
            <div class="img-overlay">
                <a class="zoom-round-icon" href=""><img  src="/static/images/zoom-round.png" alt="zoom-icon"></a>
                <a class="details-round-icon" href=""><img src="/static/images/details-round.png" alt="details-icon"></a>
            </div>
        </div>
        <div class="img"> 
            <div class="img-image">
                <img class="image-self" src="/static/images/ploviv.jpg" alt="plovdiv">
            </div>                        
            <div class="img-overlay">
                <a class="zoom-round-icon" href=""><img  src="/static/images/zoom-round.png" alt="zoom-icon"></a>
                <a class="details-round-icon" href=""><img src="/static/images/details-round.png" alt="details-icon"></a>
            </div>
        </div>
        <div class="img"> 
            <div class="img-image">
                <img class="image-self" src="/static/images/raiskopraskalo.jpg" alt="raiskopraskalo">
            </div>
            <div class="img-overlay">
                <a class="zoom-round-icon" href=""><img  src="/static/images/zoom-round.png" alt="zoom-icon"></a>
                <a class="details-round-icon" href=""><img src="/static/images/details-round.png" alt="details-icon"></a>
            </div>
        </div>
    </div>            
</div>