<div class="page-container">
    <div class="article-container">
        <article>
            <div class="article-title"><h2>Article title</h2></div>
            <hr>
            <div class="article-author">Posted by Pesho on 22 Oct 2017 | 25 Comments</div>
            <div class="article-content">
                <div class="article-image"><img src="/static/images/theatre.jpg" alt="article-image"></div>
                <div class="article-summary">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, dolores reprehenderit sed necessitatibus totam odit nulla asperiores quis illo, numquam quam aliquid in excepturi inventore impedit harum ab commodi esse.
                    </p>
                </div>
            </div>                    
        </article>
    </div>

    <div class="recent-articles">
        <h3>Recent articles</h3>
        <ul class="recent-list">
            <li><a href="">Recent articles</a></li>
            <li><a href="">Recent articles</a></li>
            <li><a href="">Recent articles</a></li>
            <li><a href="">Recent articles</a></li>
        </ul>
    </div>

    <div class="comments">
        <h2>25 Comments</h2>
        <hr>
        <div class="comment-container">
            <div class="author-details">
                <div class="author-image">
                    <img src="/static/images/user.png" alt="user-icon">
                </div>                        
                <span class="comment-date">22.10.2017</span>
            </div>
            <div class="comment-box">
                <h3>Author says:</h3>
                <div class="comment">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci corporis nostrum, illo error consequatur, atque, rem eligendi dolorem quis officia tenetur harum omnis ut distinctio iusto fugit et accusamus cum similique nisi sapiente dicta. Asperiores, numquam deserunt! Quibusdam, temporibus adipisci!
                </div>
            </div>
        </div>
        <h2>Leave a comment</h2>
        <hr>
    </div>
</div>        